/* CSS INDEX 
        Side-Navigation
        Header-Area
        About banner section
        Featured area
        Our-teams
        Timeline
        What Others Say
        Contact Us Section


*/

*{
    font-family:"Roboto",sans-serif;
}

a{
    text-decoration: none !important;
}
.bg-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}
/* Side-Navigation */
.side-nav{
    position: fixed;
    background-color:#222222;
    transition: width 0.3s;
    overflow: hidden;
    width:0px;
    height:100vh;
    z-index:99;
    padding:0px;
}
.side-nav a{
    background-color:transparent;
    color:rgba(255, 255, 255, 0.4);
    font-size:18px;
}
.side-nav li{
    list-style: none;
}
.side-nav li{
    background-color:transparent;
    color:rgba(255, 255, 255, 0.4);
    font-size:18px;
}
.side-nav p{
    cursor:pointer;
    margin:none;
    padding:none;
}
.side-nav p:hover{
    color:#F78536;
    cursor:pointer;
}

.side-nav li i{
    font-size:14px;
}
.side-nav a:hover{
    color:#F78536;
    cursor:pointer;
}
.open-slider{
    cursor:pointer;
}
.hide{
    display: none !important;
}

/* .Header Area */

.header{
    height:200px;
    background-color:white;
    padding:50px;
    font-family:"Roboto";
}
.header a{
    text-decoration: none !important;
}
.header li:hover{
    color:#F96D71;
}
.header hr{
    margin-top:-0.3rem;
    margin-bottom:2rem;
}
.header-top{
    font-size:14px;
    line-height: 21px;
    color:#5d6c83;
}
.separator{
    border-bottom:1px solid #e5e5e5;
}
.social-icons ul{
    list-style: none;
    display: flex;
}
.social-icons ul li{
    margin-left:10px;
    margin-right:10px;
    cursor:pointer;
}

#navigation-menu > ul{
    display: flex;
    list-style: none;
} 
#navigation-menu > ul>li{
    margin:10px;
    position: relative;
}
#navigation-menu ul li a{
    color:#1b1b1b;
    text-transform: uppercase;
    transition:0.3s;
    font-size:14px;
}
#navigation-menu a:hover{
    color:#F96D71;
}
.submenu{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding:0;
    position: absolute;
    margin-top:38px;
    width:200px;
    transition:height 0.3s;
}
.submenu li{
    background-color:#FFFFFF;
    padding:10px;
    margin-bottom:1px;
}
li .submenu{
    height:0;
    overflow: hidden;
}
li:hover .submenu{
    height:200px;
}
a .fa-chevron-down{
    font-size:13px;
}
#open-slider{
    cursor:pointer;
    display: none;
}


/* About banner section */

.banner-text{
    background-color: #f8f8f8;
    display: flex;
    padding:20px 150px;
    justify-content: space-between;
}

#about-banner img{
    width:100%;
}

#quote-wrapper{
    padding:30px 0px;
}

#quote-wrapper .quote-text{
    font-size: 24px;
}

#places-wrapper img{
   width:90%;
}

#places-wrapper h2{
    font-size: 24px;
}

#places-wrapper {
    padding-bottom:50px;
}

#places-wrapper button{
    background-color: #4CAF50;
    color:white;
    border:none;
    border-radius:2px;
    padding:10px 20px;
    cursor:pointer;
}

/* Featured-Area */
#featured-area{
    padding:70px 15%;
    box-sizing: border-box;
    min-height:200px;
    background : url('../../photos/bg/paralax-bg3.jpg');
    background-position: 50% -145px;
    display: flex;
    justify-content: space-between;
}

#featured-area .icon{
    width:64px;
    height:64px;
    background:#fff;
    margin:15px 0px;
    border-radius:50%;
    text-align: center;
    box-shadow: 0px 0px 0px 3px #e4e8ea;
    padding:20px 0px;
    cursor: pointer;
    transition: background .3s,
                color .3s,
                box-shadow .3s;
}

#featured-area .icon i{
    font-size:25px;
    color:rgb(85, 86, 88);
}
#featured-area .icon:hover{
    box-shadow: 0px 0px 0px 5px #087dc2;
}



/* Our-teams */

#our-teams .heading h1{
    position: relative;
}

#our-teams{
    padding:40px 20px;
}

#our-teams .team-card {
    margin-top: 100px;
}

#our-teams .heading h1:before{
    content:'';
    background: #fade03;
    height:4px;
    width:74px;
    position: absolute;
    left:0;
    right: 0;
    margin:auto;
    bottom:-4px;
}

#our-teams .card .team-contact span{
    background: url('../../photos/icon/down-arrow.png');
    display: inline-block;
    height:18px;
    width:37px;
    margin-right:5px;
    position: relative;
    top:13px;
}

#our-teams .card{
    margin:50px 0px;
}
#our-teams .card img{
    border-radius: 50%;
    margin-top:-100px;
    margin-bottom:40px;
}
#our-teams .social-icons{
    display: flex;
    list-style: none;
    justify-content: center;
    padding:0;
}

#our-teams .social-icons li{
    border:1px solid rgb(161, 161, 161);
    width:35px;
    padding:3px;
    margin-right:-1px; 
    transition: 0.3s;
}

#our-teams .social-icons li a{
    transition: 0.3s;
}

#our-teams .social-icons li:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#our-teams .social-icons li:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#our-teams .social-icons li:hover a{
    color:white
}

#our-teams .twitter:hover {
    background-color: #1DA1F2;
}

#our-teams .facebook:hover{
    background-color: #3B5998;
}

#our-teams .google:hover {
    background-color: #EA4335;
}

#our-teams .linkedin:hover {
    background-color: #283E4A;
}

/* Timeline */
#timeline{
    background-color: rgb(195, 230, 241);
    height:1650px;
    padding-top: 80px;
}

#timeline .section-heading h2{
    text-align: center;
    font-size: 50px;
    position: relative;
    margin-bottom:50px;
}

#timeline .section-heading h2:after{
    content: '';
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    width:144px;
    height:2px;
    bottom:-4px;
    background-color: #000000;
}
#timeline ul li{
    list-style: none;
    position: relative;
    width: 1px;
    /* padding-top: different for even and off */
    margin: 0 auto;
    background: white;
}

#timeline ul li:before{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top:0px;
    background: white;
    transform: translateX(-44%);
    border:5px solid rgb(195, 230, 241);
    z-index:90;
}

.timeline-card img{
    width: 100%;
}
.timeline-card{
    width:370px;
    height:380px;
    position: absolute;
    margin-top:-30px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    font-family: "Roboto";
    border:1px solid rgb(247, 244, 244);
    z-index:99;
}

.timeline-card .card-heading{
    box-sizing: border-box;
    width:100%;
    height:80px;
    padding:15px 0px 15px 20px;
    display: flex;
    position: relative;
}

.timeline-card .card-heading .card-number{
    box-sizing: border-box;
    width:57px;
    height:50px;
    color:white;
    font-size:35px;
    font-weight: bold;
    padding:5px 0px 0px 10px;
}

/* Timeline setting for odd element */

#timeline li:nth-child(odd) .timeline-card{
    transform: translateX(-120%);
}

#timeline li:nth-child(odd){
    padding-top: 400px;
}

#timeline li:first-child{
    padding-top: 30px;
}
#timeline li:nth-child(odd) .timeline-card .card-heading:before{
    content:'';
    position: absolute;
    right:-3%;
    top:34%;
    border-left:14px solid transparent;
    border-left-color:inherit;
    border-top:14px solid transparent;
    border-bottom:14px solid transparent;
}   


/* Timeline setting for even element */
#timeline li:nth-child(even) .timeline-card .card-heading:before{
    content:'';
    position: absolute;
    left:-3%;
    top:34%;
    border-right:14px solid transparent;
    border-right-color:inherit;
    border-top:14px solid transparent;
    border-bottom:14px solid transparent;
}   
#timeline li:nth-child(even) .timeline-card{
    transform: translateX(20%);
}
#timeline li:nth-child(even){
    padding-top: 100px;
}

.timeline-card .card-heading .heading-description{
    color:white;
    display: inline;
    letter-spacing: 2px;
    margin: -20px 0px 0px 10px;
    line-height: 1.5rem;
}

.timeline-card .card-body{
    padding:5px 15px 15px 15px;
}
.timeline-card .small{
    font-size:17px;
    font-weight: normal;
}

.color--blue{
    background-color: #46B8E9;
    border-color:#46B8E9;
}

.color-darkBlue--cardNumber{
    background-color: #3A99C2;
}

.color--green{
    background-color: #3EE9D1;
    border-color: #3EE9D1;
}

.color-darkGreen--cardNumber{
    background-color: #34C2AE;
}

.color--pink{
    background-color: #CE43EB;
    border-color: #CE43EB;
}

.color-darkPink--cardNumber{
    background-color: #AB38C4;
}

.color--purple{
    background-color: #4D92EB;
    border-color: #4D92EB;
}

.color-darkPurple--cardNumber{
    background-color: #4079C4;
}




/* What Others Say */

#what-others-say{
    background-color: #F5F8F9;
    padding: 60px 0px;
    font-family: "Montserrat"
}

#what-others-say .section-heading h2{
    color:#333333;
    font-size:30px;
    line-height: 30px;
    width:300px;
    margin:0 auto;
    margin-bottom:50px;
}

#what-others-say .card .heading{
    padding-top:25px;
}

#what-others-say .card img{
    border-radius: 50%;
    width:22%;
    margin-bottom:10px;
}

#what-others-say .card h5{
    font-size: 17px;
}

#what-others-say .card h6{
    font-size:14px;
}

/* Contact Us Section */
#contact-us{
    width:100%;
    min-height:70vh;
    background:url('../../photos/bg/pack-bg.jpg');
    position: relative;
    margin-top:100px;
}
#contact-us ul{
    list-style: none;
    padding:0;
}
#contact-us a{
    color:white;
    text-decoration: none;
}
.footer-widget{
    color:white;
}
.footer-widget h4{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size:20px;
}
.footer-widget p{
    line-height:26px;
    margin-top:26px;
    font-size:14px;
}
.footer-link{
   margin-top:20px;
   font-size:14px;
}
.footer-link li{
    line-height: 36px;
    cursor:pointer;
}
.footer-link li a{
    transition: 0.4s;
}
#contact-us a:hover{
    color:#F9676B;
}
.footer-social-icons{
    list-style: none;
    display: flex;
    color:#898989;
    margin-top:25px;
    padding:0;
}
.footer-social-icons li{
    margin-left:10px;
    margin-right:10px;
    cursor: pointer;
    transition: 0.4s;
}
.footer-social-icons li:hover {
    color:#F9676B;
}