/* About banner section */

.banner-text{
    background-color: #f8f8f8;
    display: flex;
    padding:20px 150px;
    justify-content: space-between;
}

#about-banner img{
    width:100%;
}

#places-wrapper img{
   width:90%;
}

#featured-area{
    padding:70px 15%;
    box-sizing: border-box;
    height:200px;
    background : url('../../photos/bg/paralax-bg3.jpg');
    background-position: 50% -145px;
}

#featured-area .icon{
    width:64px;
    height:64px;
    background:#fff;
    border-radius:50%;
    text-align: center;
    box-shadow: 0px 0px 0px 3px #e4e8ea;
    transition: background .3s,
                color .3s,
                box-shadow .3s;
}

#featured-area .icon:hover{
    box-shadow: 0px 0px 0px 5px #087dc2;
}

#team .heading h1{
    position: relative;
}
#team .heading h1:before{
    content:'';
    background: #fade03;
    height:4px;
    width:74px;
    position: absolute;
    left:0;
    right: 0;
    margin:auto;
    bottom:-4px;
}