

@media (max-width:992px){
    #navigation-menu{
        display: none;
    }
    #open-slider{
        display: block;
    }
    #service-wrapper{
        height:500px;
    }
}

@media (max-width:778px){
    .header{
        height:100px;
        padding-top:40px;
    }
    .header-top{
        display: none;
    }
    #header-line{
        display: none;
    }
}


@media (max-width:500px){
    #service-wrapper{
        background-position: 40% 5px;
    }
}

@media (max-width:790px){
    #hotel-activities .activity-card .activity-name{
        font-size:17px;
        font-weight: 500;
    }
    
    #hotel-activities .activity-card .content-section{
        padding-top:10%;
    }
}

@media (max-width:650px){
    #hotel-activities .activity-card{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    #hotel-activities .activity-card .image-section{
        width:100%;
    }
    #hotel-activities .activity-card .content-section{
        width:100%;
        min-height:250px;
    }
    #hotel-activities .activity-card .activity-name{
        font-size:27px;
    }
    #hotel-activities .activity-card .read-more{
        position: absolute;
        left:0;
        right:0;
        margin:0 auto;
        bottom:24px;
        width:150px;
        height:50px;
        background-color: #D46E4E;
        box-sizing: border-box;
        padding:0;
        padding-top:3%;
        font-size:15px;
        color:white;
    }
    #hotel-activities .activity-card .content-section:before{
        content:none;
    }
}

@media ( max-width:450px){
    #hotel-activities .activity-card .read-more{
        padding-top:7%;
    }
}

