

/* Permanent changes lower than MD */
@media (max-width:992px){
    #navigation-menu{
        display: none;
    }
    #open-slider{
        display: block;
    }
}

/* Permanent changes lower than 778px */
@media (max-width:778px){
    .header{
        height:100px;
        padding-top:40px;
    }
    .header-top{
        display: none;
    }
    #header-line{
        display: none;
    }
}