

/* Permanent changes lower than MD */
@media (max-width:992px){
    #navigation-menu{
        display: none;
    }
    #open-slider{
        display: block;
    }
}

/* Permanent changes lower than 778px */
@media (max-width:778px){
    .header{
        height:100px;
        padding-top:40px;
    }
    .header-top{
        display: none;
    }
    #header-line{
        display: none;
    }
}

@media (max-width:500px){
    #customer-tickets .ticket-container{
        flex-direction: column;
    }
}

@media (max-width:800px){
    #information-area{
        flex-direction: column;
    }
    #information-area .list-payment .payment-right-item{
        flex-direction: row;
        text-align: left;
    }
    #information-area .two-column{
        max-width:100%;
        flex-basis: 100%;
    }
    #information-area .necessary-information{
        justify-content: flex-start;
    }
    
}